@model ServiceEditModel
@{
   
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Услуга @(Model.ServiceId != 0 ? Model.Name : "")</h3>
</div>
<!-- // Modal heading END -->
<!-- Modal body -->
<div class="modal-body">
    <div class="innerAll">
        <div class="innerLR">
            @using (Html.BeginForm("EditService", "God", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.ServiceId)
                <div class="form-group">
                    @Html.LabelFor(m => m.ParentId, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.ParentId, Model.AvailableParents, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Название</label>
                    <div class="col-sm-6">
                        @if(Model.ServiceId ==0)
                        { 
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", disabled = "disabled"})
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">@(Model.ServiceId != 0 ? "Обновить" : "Добавить")</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
