@model CRMCompanyEditModel
@{
    var assign = ViewBag.Assign as IEnumerable<SelectListItem>;
    var districts = ViewBag.Districts as List<SelectListItem>;
    var cities = ViewBag.Cities as List<SelectListItem>;
    var services = ViewBag.Services as IEnumerable<SelectListItem>;
    var items = services.Select(m => new { id = m.Value, serviceGroup = m.Text.Split(new string[] { "||" }, StringSplitOptions.RemoveEmptyEntries).ToList() });
    var serviceGroups = items
        .GroupBy(m => m.serviceGroup[0])
        .ToDictionary(m => m.Key,
            m => m.Select(n => new SelectListItem() { Value = n.id, Text = n.serviceGroup[1], Selected = services.Any(k => k.ToString() == n.id) })
            .ToArray());

    var statuses = new List<SelectListItem>();
    foreach (CompanyStatus item in Enum.GetValues(typeof(CompanyStatus)))
	{
        statuses.Add(new SelectListItem() { Text = item.GetStringValue(), Value = item.ToString("d"), Selected = Model.StatusId == (byte)item });
	}
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Организация партнер @(Model.LegalEntityId != 0 ? Model.LegalName : "")</h3>
</div>
<!-- // Modal heading END -->
<!-- Modal body -->
<div class="modal-body">
    <div class="innerAll">
        <div class="innerLR">
            <div class="wizard">
                @using (Html.BeginForm("Edit", "LegalEntity", new { Area = "CRM" }, FormMethod.Post, new { @class = "cur-form form-horizontal", role = "form", id = "legalEditForm" }))
                {
                    <input id="photoType" type="hidden" value="company" @*todo set save favicon form 'website' + '/favicon.ico' *@ />
                    @Html.HiddenFor(m => m.GeoAddr.Latitude)
                    @Html.HiddenFor(m => m.GeoAddr.Longitude)
                    @Html.HiddenFor(m => m.LegalEntityId)
                    @Html.HiddenFor(m => m.PhotoPath, new { @class = "photo_hidden" })

                    <!-- // Wizard heading END -->
                    <div class="widget widget-tabs border-bottom-none">
                        <!-- Wizard Progress bar -->
                        <div class="widget-head" style="display:none;">
                            <ul>
                                <li class="active"><a class=" glyphicons suitcase" href="#person-data" data-toggle="tab"><i></i>Компания</a></li>
                                <li><a class=" glyphicons globe" href="#address-data" onclick="resizeGMap();" data-toggle="tab"><i></i>Адрес</a></li>
                                <li><a class=" glyphicons credit_card" href="#finance-data" data-toggle="tab"><i></i>Реквизиты</a></li>
                                <li><a class=" glyphicons factory" href="#position-data" data-toggle="tab"><i></i>Услуги</a></li>
                                <li><a class=" glyphicons asterisk" href="#additional-data" data-toggle="tab"><i></i>Дополнительно</a></li>
                            </ul>
                        </div>
                            <div class="progress progress-primary" id="bar">
                                <div class="progress-bar">Шаг <strong class="step-current">1</strong> из <strong class="steps-total">3</strong> - <strong class="steps-percent">100%</strong></div>
                            </div>
                            <!-- // Widget heading END -->
                            <div class="widget-body">
                                <div class="tab-content">
                                    <!-- Tab content -->
                                    <div class="tab-pane active" id="person-data">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PublicName, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.PublicName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LegalName, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.LegalName, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Mails, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Mails, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Phones, new { @class = "col-sm-4 control-label", placeholder="Введите телефон и нажмите Enter" })
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Phones, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Sites, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Sites, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Skype, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Skype, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="address-data">
                                        @Html.HiddenFor(m => m.GeoAddr.Latitude)
                                        @Html.HiddenFor(m => m.GeoAddr.Longitude)
                                        @Html.HiddenFor(m => m.Address)
                                        <div class="col-md-12 ">
                                            @Html.LabelFor(m => m.DistrictId)
                                            @Html.DropDownListFor(m => m.DistrictId, districts, new { @class = "col-md-6 form-control", placeholder = "Город" })
                                            @Html.ValidationMessageFor(m => m.DistrictId)
                                            <div class="separator"></div>
                                            <div id="city-Drop">
                                                @Html.LabelFor(m => m.City)
                                                @Html.DropDownListFor(m => m.City, cities, new { @class = "col-md-6 form-control", placeholder = "Город" })
                                                @Html.ValidationMessageFor(m => m.City)
                                            </div>
                                            <div class="separator"></div>
                                            @Html.LabelFor(m => m.Street)
                                            @Html.TextBoxFor(m => m.Street, new { @class = "col-md-6 form-control", placeholder = "Улица" })
                                            @Html.ValidationMessageFor(m => m.Street)
                                        </div>
                                        <div class="col-md-4 ">

                                            @Html.LabelFor(m => m.App)
                                            @Html.TextBoxFor(m => m.App, new { @class = "col-md-6 form-control", placeholder = "Номер дома" })
                                            @Html.ValidationMessageFor(m => m.App)
                                        </div>
                                        <div class="col-md-4 ">
                                            @Html.LabelFor(m => m.AddApp)
                                            @Html.TextBoxFor(m => m.AddApp, new { @class = "col-md-6 form-control", placeholder = "строение, корпус и т.п." })
                                            @Html.ValidationMessageFor(m => m.AddApp)
                                        </div>
                                        <div class="col-md-4 ">
                                            @Html.LabelFor(m => m.Offices)
                                            @Html.TextBoxFor(m => m.Offices, new { @class = "col-md-6 form-control", placeholder = "строение, корпус и т.п." })
                                            @Html.ValidationMessageFor(m => m.Offices)
                                            <div class="separator"></div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:10px">
                                            <span class="btn btn-success" style="width:100%" onclick="setLegalAddr();" >Показать на карте</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="label label-info" id="addr" style="text-align:center">@Model.Address</label>
                                            <label class="col-sm-3 control-label">Адрес на карте</label>
                                        </div>
                                        <div id="google-map-geo-add" class="map_canvas" style="height: 300px; "></div>
                                    </div>
                                    <!-- // Tab content END -->
                                    <div class="tab-pane" id="finance-data">
                                        <div class="row">
                                            <!-- Column -->
                                            <div class="col-md-6">
                                                <div class="form-group margin-none innerB">
                                                    @Html.LabelFor(m => m.Details[0].INN, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.Details[0].INN, new { @class = "form-control" })
                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title=""><i class="fa fa-question-circle"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Group -->
                                                <div class="form-group margin-none innerB">
                                                    @Html.LabelFor(m => m.Details[0].BIK, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.Details[0].BIK, new { @class = "form-control" })
                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title=""><i class="fa fa-question-circle"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group margin-none innerB">
                                                    @Html.LabelFor(m => m.Details[0].KPP, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.Details[0].KPP, new { @class = "form-control" })
                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title=""><i class="fa fa-question-circle"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- // Column END -->
                                            <!-- Column -->
                                            <div class="col-md-6">
                                                <div class="form-group margin-none innerB">
                                                    @Html.LabelFor(m => m.Details[0].KS, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.Details[0].KS, new { @class = "form-control" })
                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title=""><i class="fa fa-question-circle"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Group -->
                                                <div class="form-group margin-none innerB">
                                                    @Html.LabelFor(m => m.Details[0].OGRN, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.Details[0].OGRN, new { @class = "form-control" })
                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title=""><i class="fa fa-question-circle"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group margin-none innerB">
                                                    @Html.LabelFor(m => m.Details[0].RS, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.Details[0].RS, new { @class = "form-control" })
                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title=""><i class="fa fa-question-circle"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group margin-none innerB">
                                                    @Html.LabelFor(m => m.Details[0].PaymentLocation, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.Details[0].PaymentLocation, new { @class = "form-control" })
                                                            <span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title=""><i class="fa fa-question-circle"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tab content -->
                                    <div class="tab-pane" id="position-data">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Activities, new { @class = "col-md-12 control-label" })


                                            <div class="col-sm-12">
                                                <select id="Activities" name="Activities" class="multiselect" multiple>
                                                    @foreach (var group in serviceGroups)
                                                    {
                                                        <optgroup label="@group.Key">
                                                            @foreach (var item in group.Value)
                                                            {
                                                                 if (Model.Activities != null && Model.Activities.Any(m => m.ToString() == item.Value))
                                                                {
                                                                    <option value="@item.Value" selected>@item.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Value">@item.Text</option>
                                                                }
                                                            }
                                                        </optgroup>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // Tab content END -->
                                    <div class="tab-pane" id="additional-data">
                                       
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.AssignedBy, new { @class = "col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(m => m.AssignedBy, assign, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.StatusId, new { @class = "col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(m => m.StatusId, statuses, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Comment, new { @class = "col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <img class="col-sm-3" style="max-width:100px" id="employee_img" src="@(!string.IsNullOrEmpty(Model.PhotoPath)? Model.PhotoPath : "/content/images/profile.jpg")" />
                                            <div class="col-sm-9">
                                                <div id="imageUpload">
                                                    <div id="image-cropper">
                                                        <div class="cropit-image-preview" style="width:100px;height:100px"></div>
                                                        <div class="btns">
                                                            <input style="display:none" class="cropit-image-input custom" type='file' id='crop-uploader' />
                                                            <div style="float:left; margin-top: 19px; margin-right:10px;" class="select-image-btn btn btn-info"><span class="icon icon-image"></span>Выбрать изображение</div>
                                                        </div>
                                                        <br />
                                                        <input style="width: 180px" type="button" class="btn btn-success" id="crop-save" value="Применить" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination margin-bottom-none">
                                    <li class="primary first"><a href="#" class="no-ajafxify">Первый</a></li>
                                    <li class="previous primary"><a href="#" class="no-ajaxify">Предыдущий</a></li>
                                    <li class="next primary"><a href="#" class="no-ajaxify">Следующий</a></li>
                                    <li class="last primary"><a href="#" class="no-ajaxify">Последний</a></li>
                                    <li class="next finish primary" style="display:none;"><a href="#" onclick="createTask('#legalEditForm', 'CustomerList', 'Signalr/Refresh');" class="no-ajaxify">Готово</a></li>
                                </ul>
                            </div>
                        </div>
                    <div class="form-group">
                        @Html.ValidationSummary()
                    </div>
                }
            </div>
    </div>

    </div>
</div>
