@model IEnumerable<MessageViewModel>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">История сообщений по задаче #@ViewBag.Number</h3>
</div>
<!-- // Modal heading END -->
<!-- Modal body -->
<div class="modal-body">
    <div class="relativeWrap">
        @if (Model.Count() > 0) { 
        <div class="box-generic">

            <!-- Tabs Heading -->
            <div class="tabsbar tabsbar-2">
                <ul class="row row-merge">
                    <li class="col-md-6 glyphicons message_full active"><a href="#tab1-4" data-toggle="tab"><i></i> Сообщения</a></li>
                    <li class="col-md-6 glyphicons history"><a href="#tab2-4" data-toggle="tab"><i></i> <span>История</span></a></li>
                </ul>
            </div>
            <!-- // Tabs Heading END -->

            <div class="tab-content">

                <!-- Tab content -->
                <div class="tab-pane active" id="tab1-4">
                    <div class="innerLR" style="display:flex">
                        @{var first = Model.GroupBy(m => m.Type).FirstOrDefault();
                         
                        <h4>@(((MsgType)first.Key).GetStringValue())</h4>
                            <ul class="chat media-list col-md-6">

                                @foreach (var item in first.OrderByDescending(m => m.Created))
                                {


                                    <li class="media">
                                        <a class="pull-left" href="#"><img class="media-object thumb" src="@(string.IsNullOrEmpty(item.IconPath) ? "http://localhost:41252/content/images/profile.jpg" : item.IconPath)" alt="50x50" width="50"></a>
                                        <div class="media-body">
                                            <span class="label label-default pull-right">@(item.Created.Date == DateTime.Now.Date ? item.Created.ToShortTimeString() : item.Created.ToShortDateString())</span>
                                            <h5 class="media-heading">@item.Title</h5>
                                            <p class="margin-none">@item.Msg</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <!-- // Tab content END -->
                <!-- Tab content -->
                <div class="tab-pane" id="tab2-4">
                    <div class="innerLR" style="display:flex">
                        @foreach (var group in Model.GroupBy(m => m.Type).Skip(1))
                        {
                            <h4>@(((MsgType)group.Key).GetStringValue())</h4>
                            <ul class="chat media-list col-md-6">

                                @foreach (var item in group.OrderByDescending(m => m.Created))
                                {


                                    <li class="media">
                                        <a class="pull-left" href="#"><img class="media-object thumb" src="@(string.IsNullOrEmpty(item.IconPath) ? "http://localhost:41252/content/images/profile.jpg" : item.IconPath)" alt="50x50" width="50"></a>
                                        <div class="media-body">
                                            <span class="label label-default pull-right">@(item.Created.Date == DateTime.Now.Date ? item.Created.ToShortTimeString() : item.Created.ToShortDateString())</span>
                                            <h5 class="media-heading">@item.Title</h5>
                                            <p class="margin-none">@item.Msg</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
        else { 
            <label class="отсутсвует история сообщений"></label>
        }
    </div>
</div>